@font-face {
    font-family: 'Cambria';
    src: url('../fonts/cambria.eot');
    src: local('☺'), url('../fonts/cambria.woff') format('woff'), url('../fonts/cambria.ttf') format('truetype'), url('../fonts/cambria.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    overflow: -moz-scrollbars-vertical;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

h1,
.welcome {
    margin-top: 0px;
    margin-bottom: 20px;
}

h2 {
    margin-top: 0px;
    margin-bottom: 5px;
}

p {
    margin-top: 0px;
    margin-bottom: 20px;
}

form {
    padding: 0;
    margin: 0;
    display: inline;
}

input[type='text'],
input[type='password'],
textarea {
    padding: 3px;
    margin-left: 0px;
    margin-right: 0px;
}

select {
    padding: 2px;
}

/** / Layout **/

/*** Skin ***/

h1,
.welcome {
    text-shadow: 0 0 1px rgba(0, 0, 0, .01);
}

a,
a:visited,
a b {
    cursor: pointer;
}

a img {
    border: none;
}

input[type='text'],
input[type='password'],
textarea {
    background: #fff;
    border: 1px solid #dedede;
}

select {
    background: #F8F8F8;
    border: 1px solid #CCCCCC;
}

label {
    cursor: pointer;
}

/** / Skin **/

/*** Typography ***/

body {
    color: #000000;
    font-family: Cambria, Arial, Helvetica, sans-serif;
}

body,
td,
th,
input,
textarea,
select,
a {
    font-size: 12px;
}

h1,
.welcome {
    font-size: 32px;
    font-weight: normal;
}

h2 {
    font-size: 16px;
}

a,
a:visited,
a b {
    color: #000;
    text-decoration: underline;
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: #4d8887;
	text-decoration: none;
}

/** / Typography **/

/********* / GENERAL *********/

										/********** LAYOUT **********/

/*** Layout ***/

.container {
    width: 990px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#column-left {
    float: left;
    width: 180px;
}

#column-right {
    float: right;
    width: 180px;
}

#content {
    min-height: 400px;
    margin-bottom: 25px;
}

#column-left + #column-right + #content,
#column-left + #content {
    margin-left: 195px;
}

#column-right + #content {
    margin-right: 195px;
}

/** / Layout **/

/********* / LAYOUT *********/

										/********** HEADER **********/

/*** Layout ***/

#header {
    height: 150px;
    position: relative;
    z-index: 99;
    font-family: Calibri, Arial, Helvetica;
    color: #8d8d8d;
    font-size: 13px;
}

#header #logo {
    display: table-cell;
    height: 150px;
    position: relative;
    vertical-align: middle;
}

#logo-image{
    background: url("../image/main_sprite.png") repeat scroll 0 0 transparent;
    display: block;
    height: 97px;
    vertical-align: middle;
    width: 149px;
    transition: all 0.1s ease-in-out;
}

#logo-image:hover{
    opacity: 0.5;
    width: 155px;
    height: 103px;
}

.header__right{
    display: table-cell;
    height: 150px;
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: middle;
    width: 80%;
}

.telephones{
    display: inline-block;
    font-size: 14px;
    margin-right: 125px;
}

.telephones .tel{
    padding: 0 5px;
}

.telephones .tel.main{
    color:#000;
}

.phonbe_ico{
    background: url("../image/main_sprite.png") no-repeat scroll -162px 0 transparent;
    display: inline-block;
    height: 15px;
    vertical-align: middle;
    width: 9px;
}

.login_links{
    display: inline-block;
}

.login_links a,
.login_links a:visited{
    color: #8d8d8d;
    text-decoration: none;
}

.login_links a:hover{
    color: #4d8887;
}


.header__sep{
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAALCAYAAAC+jufvAAAACXBIWXMAAAsTAAALEwEAmpwYAAABNmlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjarY6xSsNQFEDPi6LiUCsEcXB4kygotupgxqQtRRCs1SHJ1qShSmkSXl7VfoSjWwcXd7/AyVFwUPwC/0Bx6uAQIYODCJ7p3MPlcsGo2HWnYZRhEGvVbjrS9Xw5+8QMUwDQCbPUbrUOAOIkjvjB5ysC4HnTrjsN/sZ8mCoNTIDtbpSFICpA/0KnGsQYMIN+qkHcAaY6addAPAClXu4vQCnI/Q0oKdfzQXwAZs/1fDDmADPIfQUwdXSpAWpJOlJnvVMtq5ZlSbubBJE8HmU6GmRyPw4TlSaqo6MukP8HwGK+2G46cq1qWXvr/DOu58vc3o8QgFh6LFpBOFTn3yqMnd/n4sZ4GQ5vYXpStN0ruNmAheuirVahvAX34y/Axk/96FpPYgAAACBjSFJNAAB6JQAAgIMAAPn/AACA6AAAUggAARVYAAA6lwAAF2/XWh+QAAAAHElEQVR42mJgYGD4z/D//38GBlJYAAAAAP//AwA+FRTsiStWdwAAAABJRU5ErkJggg==") no-repeat scroll 5px 0 transparent;
    display: inline-block;
    height: 11px;
    padding: 0 5px;
    text-align: center;
    vertical-align: middle;
    width: 1px;
}

#language {
    position: absolute;
    top: 15px;
    left: 335px;
    width: 75px;
}

#currency {
    width: 75px;
    position: absolute;
    top: 15px;
    left: 425px;
}

#currency a {
    display: inline-block;
    padding: 2px 4px;
    margin-right: 2px;
    margin-bottom: 2px;
}

#cart {
    float: left;
    position: relative;
    top: 0;
    z-index: 9;
}

#cart .heading {
    display: table-cell;
    height: 60px;
    padding-right: 40px;
    position: relative;
    vertical-align: middle;
    z-index: 1;
}

#cart .heading h4 {
    margin-top: 0px;
    margin-bottom: 3px;
}

#cart .content {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #999999;
    clear: both;
    display: none;
    min-height: 120px;
    min-width: 350px;
    padding: 8px;
    position: absolute;
    top: 50px;
}


#cart.active .content {
    display: block;
}

#cart .cart {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 5px;
}

#cart .cart td {
    vertical-align: top;
    padding: 10px 5px;
}

#cart .cart .image {
    width: 1px;
}

#cart .cart .quantity {
    text-align: right;
}

#cart .cart td.total {
    text-align: right;
}

#cart .cart .remove {
    text-align: right;
}

#cart table.total {
    border-collapse: collapse;
    padding: 5px;
    float: right;
    clear: left;
    margin-bottom: 5px;
}

#cart .content .checkout {
    text-align: right;
    clear: both;
}
#cart .empty {
    padding-top: 50px;
    text-align: center;
}

#search {
    float: right;
    height: 60px;
    position: relative;
    right: 0;
    vertical-align: middle;
    z-index: 15;
    margin-top: 14px;
}

#search .button-search {
    position: absolute;
    left: 0px;
    width: 28px;
    height: 24px;
}

#search .search_input{
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    width: 165px;
    position: relative;
    padding-right: 15px;
    transition: all 0.2s ease-in-out;
}

#search .search_input:focus{
    width: 205px;
}

#search:after{
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAACXBIWXMAAAsTAAALEwEAmpwYAAABNmlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjarY6xSsNQFEDPi6LiUCsEcXB4kygotupgxqQtRRCs1SHJ1qShSmkSXl7VfoSjWwcXd7/AyVFwUPwC/0Bx6uAQIYODCJ7p3MPlcsGo2HWnYZRhEGvVbjrS9Xw5+8QMUwDQCbPUbrUOAOIkjvjB5ysC4HnTrjsN/sZ8mCoNTIDtbpSFICpA/0KnGsQYMIN+qkHcAaY6addAPAClXu4vQCnI/Q0oKdfzQXwAZs/1fDDmADPIfQUwdXSpAWpJOlJnvVMtq5ZlSbubBJE8HmU6GmRyPw4TlSaqo6MukP8HwGK+2G46cq1qWXvr/DOu58vc3o8QgFh6LFpBOFTn3yqMnd/n4sZ4GQ5vYXpStN0ruNmAheuirVahvAX34y/Axk/96FpPYgAAACBjSFJNAAB6JQAAgIMAAPn/AACA6AAAUggAARVYAAA6lwAAF2/XWh+QAAAAWklEQVR42pRQQQ7AIAyCZd/ra/dAdtGuKsaMpIcihAolAQBIBkY8/S3RiFmYnKScndAabpPSz1qclxO6fRD/gftM1BRJ4Gyo1TXuq9DdtksdOjwZeBKWCuMdAG4tR4jqaU+kAAAAAElFTkSuQmCC") no-repeat scroll 0 0 transparent;
    display: block;
    height: 11px;
    content: " ";
    width: 11px;
    position: absolute;
    top: 9px;
    right: 10px;
}

#quick_search_results{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DEDEDE;
    border-top: none;
    float: none;
    padding: 5px 12px;
    position: relative;
    width: 206px;
}

#header #welcome {
    border-bottom: 1px solid #F0F0F0;
    float: right;
    padding-bottom: 14px;
    position: relative;
    text-align: right;
    top: 47px;
    width: 555px;
    z-index: 5;
    margin-bottom: 50px;
}

#header .links {
    float: right;
    list-style: none outside none;
    padding: 0;
    position: relative;
}

#header .links li a {
    float: left;
    display: block;
    position: relative;
}

#header .links li a:hover:after {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAFCAYAAACXU8ZrAAAACXBIWXMAAAsTAAALEwEAmpwYAAABNmlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjarY6xSsNQFEDPi6LiUCsEcXB4kygotupgxqQtRRCs1SHJ1qShSmkSXl7VfoSjWwcXd7/AyVFwUPwC/0Bx6uAQIYODCJ7p3MPlcsGo2HWnYZRhEGvVbjrS9Xw5+8QMUwDQCbPUbrUOAOIkjvjB5ysC4HnTrjsN/sZ8mCoNTIDtbpSFICpA/0KnGsQYMIN+qkHcAaY6addAPAClXu4vQCnI/Q0oKdfzQXwAZs/1fDDmADPIfQUwdXSpAWpJOlJnvVMtq5ZlSbubBJE8HmU6GmRyPw4TlSaqo6MukP8HwGK+2G46cq1qWXvr/DOu58vc3o8QgFh6LFpBOFTn3yqMnd/n4sZ4GQ5vYXpStN0ruNmAheuirVahvAX34y/Axk/96FpPYgAAACBjSFJNAAB6JQAAgIMAAPn/AACA6AAAUggAARVYAAA6lwAAF2/XWh+QAAAAO0lEQVR42myMsRHAMBDCpOy/s1LkXTg2FRwCgQArblJz/BVUA3xWHvAAvot93eT9sjrAf/8CAAD//wMAa4Ud9Re57YoAAAAASUVORK5CYII=") no-repeat scroll 0 0 transparent;
    display: block;
    height: 5px;
    content: " ";
    width: 9px;
    position: absolute;
    bottom: -10px;
    left: 40%;
}

#header .links li.active{
    position: relative;
    color: #4D8887;
}

#header .links li.active:after{
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAFCAYAAACXU8ZrAAAACXBIWXMAAAsTAAALEwEAmpwYAAABNmlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjarY6xSsNQFEDPi6LiUCsEcXB4kygotupgxqQtRRCs1SHJ1qShSmkSXl7VfoSjWwcXd7/AyVFwUPwC/0Bx6uAQIYODCJ7p3MPlcsGo2HWnYZRhEGvVbjrS9Xw5+8QMUwDQCbPUbrUOAOIkjvjB5ysC4HnTrjsN/sZ8mCoNTIDtbpSFICpA/0KnGsQYMIN+qkHcAaY6addAPAClXu4vQCnI/Q0oKdfzQXwAZs/1fDDmADPIfQUwdXSpAWpJOlJnvVMtq5ZlSbubBJE8HmU6GmRyPw4TlSaqo6MukP8HwGK+2G46cq1qWXvr/DOu58vc3o8QgFh6LFpBOFTn3yqMnd/n4sZ4GQ5vYXpStN0ruNmAheuirVahvAX34y/Axk/96FpPYgAAACBjSFJNAAB6JQAAgIMAAPn/AACA6AAAUggAARVYAAA6lwAAF2/XWh+QAAAAO0lEQVR42myMsRHAMBDCpOy/s1LkXTg2FRwCgQArblJz/BVUA3xWHvAAvot93eT9sjrAf/8CAAD//wMAa4Ud9Re57YoAAAAASUVORK5CYII=") no-repeat scroll 0 0 transparent;
    display: block;
    height: 5px;
    content: " ";
    width: 9px;
    position: absolute;
    bottom: -10px;
    left: 55%;
}


#header .links li a + a {
    margin-left: 8px
}

/** / Layout **/

/*** Skin ***/

#language img {
    cursor: pointer;
}

#currency a {
    border: 1px solid #CCC
}

#header #cart .heading {
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #EEEEEE;
    background: #FFF;
}

#header #cart .heading a span {
    background: #FFFFFF url('../image/arrow-down.png') 100% 50% no-repeat
}

#header #cart .content {
    border-top: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    -webkit-border-radius: 0px 7px 7px 7px;
    -moz-border-radius: 0px 7px 7px 7px;
    -khtml-border-radius: 0px 7px 7px 7px;
    border-radius: 0px 7px 7px 7px;
    -webkit-box-shadow: 0px 2px 2px #DDDDDD;
    -moz-box-shadow: 0px 2px 2px #DDDDDD;
    box-shadow: 0px 2px 2px #DDDDDD;
    background: #FFF;
}

#header #cart.active .heading {
    border-top: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    -webkit-border-radius: 7px 7px 0px 0px;
    -moz-border-radius: 7px 7px 0px 0px;
    -khtml-border-radius: 7px 7px 0px 0px;
    border-radius: 7px 7px 0px 0px;
}

#header #cart .cart td {
    border-bottom: 1px solid #EEEEEE;
}

#header #cart .cart .image img {
    border: 1px solid #EEEEEE;
}

#header #cart .cart .remove img {
    cursor: pointer;
}

#header .button-search {
    background: url('../image/button-search.png') center center no-repeat;
    border-right: 1px solid #CCCCCC;
    cursor: pointer;
}

#header #search input {
    background: #FFF;
    border: 1px solid #CCCCCC;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -khtml-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    -webkit-box-shadow: 0px 2px 0px #F0F0F0;
    -moz-box-shadow: 0px 2px 0px #F0F0F0;
    box-shadow: 0px 2px 0px #F0F0F0;
}

#header .links a + a {
    border-left: 1px solid #CCC;
}

/** / Skin **/

/*** Typography ***/

#language {
    line-height: 17px;
}

#currency {
    line-height: 17px;
}

#currency a {
    text-decoration: none;
}

#currency a b {
    text-decoration: none;
}

#header #cart .heading h4 {
    font-size: 15px;
    font-weight: bold;
}

#header #cart .heading a {
    text-decoration: none;
}

#header #cart .cart td {
    /*color: #000;*/
}

#header #cart .cart .image img {
    text-align: left;
}

#header #cart .cart .name small {
    /*color: #666;*/
}

#header #cart table.total td {
    /*color: #000;*/
}

#header #welcome {
    /*color: #999999;*/
}

#header .links li a {
    text-decoration: none;
    font-size: 13px;
}

#header .links li{
    float: left;
    padding: 0 0 0 18px;
}

/** / Typography **/

/********* / HEADER *********/

										/********** MENU **********/

/*** Layout ***/

#menu {
    height: 60px;
    background: #f7f7f7;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 45px;
}

.menu__wrapper ul {
    margin: 0;
    padding: 0;
}

.menu__wrapper > ul > li {
    position: relative;
    float: left;
    z-index: 20;
    margin-right: 50px;
}

.menu__wrapper > ul > li > a {
    display: inline-block;
    z-index: 6;
    position: relative;
}

.menu__wrapper > ul > li > div {
    display: none;
    position: absolute;
    z-index: 5;
    padding: 5px;
}

.menu__wrapper > ul > li:hover > div {
    display: table;
}

.menu__wrapper > ul > li > div > ul {
    display: table-cell;
}

.menu__wrapper > ul > li ul + ul {
    padding-left: 20px;
}

.menu__wrapper > ul > li ul > li > a {
    padding: 4px;
    display: block;
    white-space: nowrap;
    min-width: 120px;
}

/** / Layout **/

/*** Skin ***/

.menu__wrapper {
    margin: 0 auto;
    position: relative;
    width: 990px;
}
.menu__wrapper > ul > li.active,
.menu__wrapper > ul > li:hover {
    border-bottom: 3px solid #000;
}

.menu__wrapper > ul > li.active:after,
.menu__wrapper > ul > li:hover:after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #000000;

    bottom: -7px;
    content: "";
    height: 0;
    left: 46%;
    position: absolute;
    width: 0;
}


.menu__wrapper > ul > li:hover a{
    color: #000;
}

.menu__wrapper > ul > li > div {
    background: #FFFFFF;
    border: 1px solid #000000;
    -webkit-border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -khtml-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
    background: rgba(0,0,0,0.8);
}

.menu__wrapper > ul > li ul > li > a:hover {
    background: #000000;
}

/** / Skin **/

/*** Typography ***/

.menu__wrapper ul {
    display: table-cell;
    height: 60px;
    list-style: none outside none;
    vertical-align: middle;
    float: left;
}

.menu__wrapper > ul > li > a {
    font-size: 16px;
    line-height: 14px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 60px;
}

.menu__wrapper > ul > li ul > li > a {
    text-decoration: none;
}

.menu__wrapper > ul > li > div > ul > li > a {
    /*color: #FFFFFF;*/
}

.cart_ico{
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAALCAYAAABPhbxiAAAACXBIWXMAAAsTAAALEwEAmpwYAAABNmlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjarY6xSsNQFEDPi6LiUCsEcXB4kygotupgxqQtRRCs1SHJ1qShSmkSXl7VfoSjWwcXd7/AyVFwUPwC/0Bx6uAQIYODCJ7p3MPlcsGo2HWnYZRhEGvVbjrS9Xw5+8QMUwDQCbPUbrUOAOIkjvjB5ysC4HnTrjsN/sZ8mCoNTIDtbpSFICpA/0KnGsQYMIN+qkHcAaY6addAPAClXu4vQCnI/Q0oKdfzQXwAZs/1fDDmADPIfQUwdXSpAWpJOlJnvVMtq5ZlSbubBJE8HmU6GmRyPw4TlSaqo6MukP8HwGK+2G46cq1qWXvr/DOu58vc3o8QgFh6LFpBOFTn3yqMnd/n4sZ4GQ5vYXpStN0ruNmAheuirVahvAX34y/Axk/96FpPYgAAACBjSFJNAAB6JQAAgIMAAPn/AACA6AAAUggAARVYAAA6lwAAF2/XWh+QAAAAXUlEQVR42ryROwrAMAxD9ULuf2V1aYMcHGiXajLG+mBhWzsAS8J2mRPjRMqVJAP1LpUaUqI4jxPpOQjh4syt9B+I/N94XR1vMLevvU653rv31PYR6WbT1dkKltE1AOHaLQtrq0pbAAAAAElFTkSuQmCC") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 11px;
    width: 14px;
    position: relative;
    margin-right: 5px;
}

#cart-price{
    color: #999999;
    font-size: 12px;
    margin-left: 55px;
}

.cart-link{
    margin-right: 0 !important;
}

.cart-count{
    border: 1px solid #000000;
    border-radius: 50% 50% 50% 50%;
    font-size: 12px;
    height: 18px;
    padding-top: 2px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 5px;
    width: 20px;
    line-height: 1.3em;
    line-height: 1.4__qem;
}


/** / Typography **/

/********* / MENU *********/

										/********** MESSAGES **********/

/*** Layout ***/

.breadcrumb {
    margin-bottom: 10px;
    font-size: 13px;
}
#content .breadcrumb a {
    color: #8d8d8d;
    text-decoration: none;
}
#content .breadcrumb span {
    color: #000000;
}
.breadcrumb__separator {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAJCAYAAAD6reaeAAAACXBIWXMAAAsTAAALEwEAmpwYAAABNmlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjarY6xSsNQFEDPi6LiUCsEcXB4kygotupgxqQtRRCs1SHJ1qShSmkSXl7VfoSjWwcXd7/AyVFwUPwC/0Bx6uAQIYODCJ7p3MPlcsGo2HWnYZRhEGvVbjrS9Xw5+8QMUwDQCbPUbrUOAOIkjvjB5ysC4HnTrjsN/sZ8mCoNTIDtbpSFICpA/0KnGsQYMIN+qkHcAaY6addAPAClXu4vQCnI/Q0oKdfzQXwAZs/1fDDmADPIfQUwdXSpAWpJOlJnvVMtq5ZlSbubBJE8HmU6GmRyPw4TlSaqo6MukP8HwGK+2G46cq1qWXvr/DOu58vc3o8QgFh6LFpBOFTn3yqMnd/n4sZ4GQ5vYXpStN0ruNmAheuirVahvAX34y/Axk/96FpPYgAAACBjSFJNAAB6JQAAgIMAAPn/AACA6AAAUggAARVYAAA6lwAAF2/XWh+QAAAAzUlEQVR4AQC9AEL/AAAAAP8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/AAAAAAAAAAAAAAAAAAAAAP8AAAAAAAAAAAAAAAAAAAAA/wAAAAAAAAAAAAAAAAAAAAD/AAAAAAAAAAAAAAAAAAAAAP8AAAAAAAAAAAAAAAAAAAAAAQAA//9KnQj4g7Iy9AAAAABJRU5ErkJggg==") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 9px;
    position: relative;
    width: 5px;
    margin: 0 10px;
}

.success,
.warning,
.attention,
.information {
    padding: 10px 10px 10px 33px;
    margin-bottom: 15px;
}

.success .close,
.warning .close,
.attention .close,
.information .close {
    float: right;
    padding-top: 4px;
    padding-right: 4px;
}

.error {
    display: block;
}

.help {
    display: block;
}

/** / Layout **/

/*** Skin ***/

.success {
    background: #EAF7D9 url('../image/success.png') 10px center no-repeat;
    border: 1px solid #BBDF8D;
}

.warning {
    background: #FFD1D1 url('../image/warning.png') 10px center no-repeat;
    border: 1px solid #F8ACAC;
}

.attention {
    background: #FFF5CC url('../image/attention.png') 10px center no-repeat;
    border: 1px solid #F2DD8C;
}

.information {
    background: #E8F6FF url('../image/information.png') 10px center no-repeat;
    border: 1px solid #B8E2FB;
}

.success .close,
.warning .close,
.attention .close,
.information .close {
    cursor: pointer;
}

/** / Skin **/

/*** Typography ***/

.breadcrumb {
    /*color: #CCCCCC;*/
}

.success,
.warning,
.attention,
.information {
    color: #555555;
}

.required:before {
    /*color: #FF0000;*/
    content:"*";
	font-weight: bold;
}

.required {
	font-weight:bold;
}

.error {
    /*color: #FF0000;*/
}

.help {
    font-size: 10px;
    font-weight: normal;
}

/** / Typography **/

/********* / MESSAGES *********/

										/********** TABLES **********/

/*** Layout ***/

table.form {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table.form tr td:first-child {
    width: 150px;
}

table.form td {
    padding: 4px;
}

input.large-field,
select.large-field {
    width: 300px;
}

table.list {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

table.list thead td {;
    padding: 0px 5px
}

table.list tbody td {
    vertical-align: top;
    padding: 0px 5px;
}

table.list .left,
table.list .right,
table.list .center {
    padding: 7px;
}

table.list .asc,
table.list .desc {
    padding-right: 15px;
}

/** / Layout **/

/*** Skin ***/

table.list {
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
}

table.list td {
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

table.list thead td {
    background-color: #EFEFEF;
}

table.list .asc {
    background: url('../image/asc.png') right center no-repeat;
}

table.list .desc {
    background: url('../image/desc.png') right center no-repeat;
}

/** / Skin **/

/*** Typography ***/

table.form > * > * > td {
    /*color: #000000;*/
}

table.list thead td a,
.list thead td {
    text-decoration: none;
    font-weight: bold;
}

table.list tbody td a {
    text-decoration: underline;
}

table.list .left {
    text-align: left;
}

table.list .right {
    text-align: right;
}

table.list .center {
    text-align: center;
}

/** / Typography **/

/********* / TABLES *********/

										/********** PAGINATION **********/

/*** Layout ***/

.pagination {
    padding-top: 8px;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

.pagination .links {
    float: left;
}

.pagination .links a {
    display: inline-block;
    padding: 4px 10px;
}

.pagination .links b {
    display: inline-block;
    padding: 4px 10px;
}

.pagination .results {
    float: right;
    padding-top: 3px;
}

/** / Layout **/

/*** Skin ***/

.pagination {
    border-top: 1px solid #EEEEEE;
}

.pagination .links a {
    border: 1px solid #EEEEEE;
}

.pagination .links b {
    border: 1px solid #269BC6;
    background: #FFFFFF;
}

/** / Skin **/

/*** Typography ***/

.pagination .links a {
    text-decoration: none;
}

.pagination .links b {
    font-weight: normal;
    text-decoration: none;
}

/** / Typography **/

/********* / PAGINATION *********/

										/********** BUTTON **********/

/*** Layout ***/

a.button {
    display: inline-block;
    padding: 6px 12px;
}

.buttons {
    overflow: auto;
    padding: 6px;
    margin-bottom: 20px;
}

.buttons .left {
    float: left;
}

.buttons .right {
    float: right;
}

.buttons .center {
    margin-left: auto;
    margin-right: auto;
}

/** / Layout **/

/*** Skin ***/

.buttons {
    border: 1px solid #EEEEEE;
    background: #FFFFFF;
}

/** / Skin **/

/*** Typography ***/

a.button {
    border: 1px solid #000000;
    color: #000000;
    font-size: 12px;
    font-weight: normal;
    line-height: 12px;
    text-decoration: none;
    cursor: pointer;
}

a.button:hover {
    color: #FFFFFF;
    background: #4d8887;
    border: 1px solid #4d8887;
}

a.btn-cart{
    font-size: 13px;
    background-color: #4d8887;
    text-transform: uppercase;
    border: 0 none;
    color: #fff;
    padding: 13px 34px 13px 50px;
}

a.btn-cart:before{
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAALCAYAAABPhbxiAAAACXBIWXMAAC4jAAAuIwF4pT92AAABNmlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjarY6xSsNQFEDPi6LiUCsEcXB4kygotupgxqQtRRCs1SHJ1qShSmkSXl7VfoSjWwcXd7/AyVFwUPwC/0Bx6uAQIYODCJ7p3MPlcsGo2HWnYZRhEGvVbjrS9Xw5+8QMUwDQCbPUbrUOAOIkjvjB5ysC4HnTrjsN/sZ8mCoNTIDtbpSFICpA/0KnGsQYMIN+qkHcAaY6addAPAClXu4vQCnI/Q0oKdfzQXwAZs/1fDDmADPIfQUwdXSpAWpJOlJnvVMtq5ZlSbubBJE8HmU6GmRyPw4TlSaqo6MukP8HwGK+2G46cq1qWXvr/DOu58vc3o8QgFh6LFpBOFTn3yqMnd/n4sZ4GQ5vYXpStN0ruNmAheuirVahvAX34y/Axk/96FpPYgAAACBjSFJNAAB6JQAAgIMAAPn/AACA6AAAUggAARVYAAA6lwAAF2/XWh+QAAAAUElEQVR42pyOMQ4AIAwCwfT/X8ZFjRqSaplYjoOSYCIANH2lJRBGVwbadQe3B8jCcS0JeTRBopD4MB23Y/tfMv5YeYOsGl+sa7wDAAD//wMAsusRIQZpnLAAAAAASUVORK5CYII=);
    content: " ";
    height: 11px;
    margin-left: -20px;
    position: absolute;
    width: 14px;
}

a.btn-cart:hover{
    border: 0 none;
    background-color: #000; 
}

input[type=text].qty-input{
    font-size: 16px;
    height: 37px;
    line-height: 37px;
    padding: 0 12px;
    text-align: center;
}

a.btn-cart.white{
    margin-top: 1px;
    margin-left: 10px;
    font-size: 13px;
    background-color: #fff;
    text-transform: uppercase;
    border: 1px solid #000;
    color: #000;
    padding: 12px 50px 12px;
}

a.btn-cart.white:hover{
    background-color: #000;
    color: #fff;
}

a.btn-cart.white:before{
    background: none;
}

.buttons .left {
    text-align: left;
}

.buttons .right {
    text-align: right;
}

.buttons .center {
    text-align: center;
}

/** / Typography **/

/********* / BUTTON *********/

										/********** TABS **********/

/*** Layout ***/

.htabs {
    height: 30px;
}

.htabs a {
    padding: 7px 15px 6px 15px;
    margin-right: 2px;
    float: left;
}

.htabs a.selected {
    padding-bottom: 7px;
}

.tab-content {
    padding: 10px;
    margin-bottom: 20px;
    z-index: 2;
    overflow: auto;
}

/** / Layout **/

/*** Skin ***/

.htabs {
    border-bottom: 1px solid #DDDDDD;
}

.htabs a {
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    background: #EEEEEE;
}

.htabs a.selected {
    background: #FFFFFF;
}

.tab-content {
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

/** / Skin **/

/*** Typography ***/

.htabs {
    line-height: 16px;
}

.htabs a {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

/** / Typography **/

/********* / TABS *********/

										/********** BOX **********/

/*** Layout ***/

.box {
    margin-bottom: 20px;
}

.box .box-heading {
    padding: 8px 10px 7px 10px;
}

.box .box-content {
    padding: 10px;
}

/** / Layout **/

/*** Skin ***/

.box .box-heading {
    -webkit-border-radius: 7px 7px 0px 0px;
    -moz-border-radius: 7px 7px 0px 0px;
    -khtml-border-radius: 7px 7px 0px 0px;
    border-radius: 7px 7px 0px 0px;
    border: 1px solid #DBDEE1;
    background: #EEEEEE;
}

.box .box-content {
    background: #FFFFFF;
    -webkit-border-radius: 0px 0px 7px 7px;
    -moz-border-radius: 0px 0px 7px 7px;
    -khtml-border-radius: 0px 0px 7px 7px;
    border-radius: 0px 0px 7px 7px;
    border-left: 1px solid #DBDEE1;
    border-right: 1px solid #DBDEE1;
    border-bottom: 1px solid #DBDEE1;
}

/** / Skin **/

/*** Typography ***/

.box .box-heading {
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
}

/** / Typography **/

/********* / BOX *********/

										/********** BOX PRODUCT **********/

/*** Layout ***/

.box-product {
    width: 100%;
    overflow: auto;
}

.box-product > div,
.box-product > article {
    width: 116px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 15px;
}

.box-product .image {
    display: block;
    margin-bottom: 0px;
}

.box-product .image img {
    padding: 3px;
}

.box-product .name a {
    display: block;
    margin-bottom: 4px;
}

.box-product .price {
    display: block;
    margin-bottom: 4px;
}

.box-product .rating {
    display: block;
    margin-bottom: 4px;
}

/** / Layout **/

/*** Skin ***/

.box-product .image img {
    border: 1px solid #E7E7E7;
}

/** / Skin **/

/*** Typography ***/

.box-product .name a {
    font-weight: bold;
    text-decoration: none;
}

.box-product .price {
    font-weight: bold;
}

.box-product .price-old {
    text-decoration: line-through;
}

.box-product .price-new {
    font-weight: bold;
}

/** / Typography **/

/********* / BOX PRODUCT *********/

										/********** BOX CATEGORY **********/

/*** Layout ***/

.box-category {
    margin-top: -5px;
}

.box-category ul {
    margin: 0;
    padding: 0;
}

.box-category > ul > li {
    padding: 8px 8px 8px 0px;
}

.box-category > ul > li ul {
    display: none;
}

.box-category > ul > li a.active + ul {
    display: block;
}

.box-category > ul > li ul > li {
    padding: 5px 5px 0px 10px;
}

.box-category > ul > li ul > li > a {
    text-decoration: none;
    display: block;
}

/** / Layout **/

/*** Skin ***/

.box-category > ul > li + li {
    border-top: 1px solid #EEEEEE;
}

/** / Skin **/

/*** Typography ***/

.box-category ul {
    list-style: none;
}

.box-category > ul > li > a {
    text-decoration: none;
}

.box-category > ul > li a.active {
    font-weight: bold;
}

.box-category > ul > li ul > li > a.active {
    font-weight: bold;
}

.category-list .div a {
    text-decoration: underline;
    font-weight: bold;
}

/** / Typography **/

/********* / BOX CATEGORY *********/

										/********** CONTENT **********/

/*** Layout ***/

#content .content {
    padding: 10px;
    overflow: auto;
    margin-bottom: 20px;
}

#content .content .left {
    float: left;
    width: 49%;
}

#content .content .right {
    float: right;
    width: 49%;
}

/** / Layout **/

/*** Skin ***/

#content .content {
    border: 1px solid #EEEEEE;
}

/** / Skin **/

/********* / CONTENT *********/

										/********** CATEGORY **********/

/*** Layout ***/

.category-info {
    overflow: auto;
    margin-bottom: 20px;
}

.category-info .image {
    float: left;
    padding: 5px;
    margin-right: 15px;
}

.category-list {
    overflow: auto;
    margin-bottom: 20px;
}

.category-list ul {
    float: left;
    width: 18%;
}

/** / Layout **/

/*** Skin ***/

.category-info .image {
    border: 1px solid #E7E7E7;
}

/** / Skin **/

/*** Typography ***/

.manufacturer-heading {
    font-size: 15px;
    font-weight: bold;
}

.manufacturer-list ul {
    list-style: none;
}

/** / Typography **/

/********* / CATEGORY *********/

										/********** MANUFACTURER **********/

/*** Layout ***/

.manufacturer-list {
    padding: 5px;
    overflow: auto;
    margin-bottom: 20px;
}

.manufacturer-heading {
    padding: 5px 8px;
    margin-bottom: 6px;
}

.manufacturer-content {
    padding: 8px;
}

.manufacturer-list ul {
    float: left;
    width: 25%;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

/** / Layout **/

/*** Skin ***/

.manufacturer-list {
    border: 1px solid #DBDEE1;
}

.manufacturer-heading {
    background: #F8F8F8;
}

/** / Skin **/

/********* / MANUFACTURER *********/

										/********** PRODUCT **********/

/*** Layout ***/

.product-filter {
    padding-bottom: 5px;
    overflow: auto;
}

.product-filter .display {
    margin-right: 15px;
    float: left;
    padding-top: 4px;
}

.product-filter .sort {
    float: right;
}

.product-filter .limit {
    margin-left: 15px;
    float: right;
}

.product-compare {
    padding-top: 6px;
    margin-bottom: 25px;
}

.product-list > div,
.product-list > article {
    overflow: auto;
    margin-bottom: 15px;
}

.product-list .right {
    float: right;
    margin-left: 15px;
}

.product-list > div + div,
.product-list > article + div,
.product-list > div + article,
.product-list > article + article {
    padding-top: 16px;
}

.product-list .image {
    float: left;
    margin-right: 10px;
}

.product-list .image img {
    padding: 3px;
}

.product-list .name {
    margin-bottom: 3px;
}

.product-list .description {
    line-height: 15px;
    margin-bottom: 5px;
}

.product-list .price {
    float: right;
    height: 50px;
    margin-left: 8px;
}

.product-list .cart {
    margin-bottom: 3px;
}

.product-list .wishlist,
.product-list .compare {
    margin-bottom: 3px;
}

.product-list .wishlist a {
    padding-left: 18px;
    display: block;
}

.product-list .compare a {
    padding-left: 18px;
    display: block;
}

.product-grid {
    width: 100%;
    overflow: auto;
}

.product-grid > div,
.product-grid > article {
    width: 120px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 15px;
}

.product-grid .image {
    display: block;
    margin-bottom: 0px;
}

.product-grid .name a {
    display: block;
    margin-bottom: 4px;
}

.product-grid .description {
    display: none;
}

.product-grid .rating {
    display: block;
    margin-bottom: 4px;
}

.product-grid .price {
    display: block;
    margin-bottom: 4px;
}

.product-grid .price .price-tax {
    display: none;
}

.product-grid .cart {
    margin-bottom: 3px;
}

.product-grid .wishlist,
.product-grid .compare {
    margin-bottom: 3px;
}

.product-grid .wishlist a {
    padding-left: 18px;
    display: block;
}

.product-grid .compare a {
    padding-left: 18px;
    display: block;
}

.product-info {
    overflow: auto;
    margin-bottom: 20px;
}

.product-info > .left {
    float: left;
    margin-right: 30px;
    width:  480px;
}

.product-info > .right {
    float: left;
    width:  480px;
}

.product-info > .left + .right {
    min-height: 720px;
}

.product-info .image {
    float: left;
    margin-bottom: 20px;
}

.product-info .image-additional {
    clear: both;
    overflow: hidden;
}

.product-info .image-additional a {
    float: left;
    display: block;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #fff;
}

.product-info .image-additional a.last {
    margin-right: 0;
}

.product-info .description {
    padding: 5px 5px 10px 5px;
    margin-bottom: 10px;
}

.product-info .price {
    overflow: auto;
    margin-bottom: 10px;
}

.product-info .options {
    padding: 0px 5px 10px 5px;
    margin-bottom: 10px;
}

.product-info .cart {
    padding: 0px 5px 10px 5px;
    margin-bottom: 20px;
    overflow: auto;
}

.product-info .cart div {
    float: left;
    vertical-align: middle;
}

.product-info .cart div > span {
    padding-top: 7px;
    display: block;
}

.product-info .cart .minimum {
    padding-top: 5px;
    clear: both;
}

.product-info .review {
    margin-bottom: 10px;
}

.product-info .review > div {
    padding: 8px;
}

.product-info .review .share {
    overflow: auto;
}

/** / Layout **/

/*** Skin ***/

.product-filter {
    border-bottom: 1px solid #EEEEEE;
}

.product-list > div + div {
    border-top: 1px solid #EEEEEE;
}

.product-list .image img {
    border: 1px solid #E7E7E7;
}

.product-list .wishlist a {
    background: url('../image/add.png') left center no-repeat;
}

.product-list .compare a {
    background: url('../image/add.png') left 60% no-repeat;
}

.product-grid .image img {
    border: 1px solid #E7E7E7;
}

.product-grid .wishlist a {
    background: url('../image/add.png') left center no-repeat;
}

.product-grid .compare a {
    background: url('../image/add.png') left center no-repeat;
}

.product-info .image {
    /*border: 1px solid #E7E7E7;*/
}

.product-info .image-additional a:hover{
    border: 1px solid #578f8e;
}

.product-info .price {
    border-bottom: 0px solid #E7E7E7;
}

.product-info .cart {
    border-bottom: 1px solid #E7E7E7;
}

.product-info .review {
    border-top: 1px solid #E7E7E7;
    border-left: 1px solid #E7E7E7;
    border-right: 1px solid #E7E7E7;
}

.product-info .review > div {
    border-bottom: 1px solid #E7E7E7
}

/** / Skin **/

/*** Typography ***/

.product-filter .display {
    /*color: #333;*/
}

.product-filter .display a {
    font-weight: bold;
}

.product-filter .sort {
    /*color: #333;*/
}

.product-filter .limit {
    /*color: #333;*/
}

.product-compare {
    font-weight: bold;
}

.product-compare a {
    text-decoration: none;
    font-weight: bold;
}

.product-list .name a {
    font-weight: bold;
    text-decoration: none;
}

.product-list .description {
    /*color: #4D4D4D;*/
}

.product-list .rating {
    /*color: #7B7B7B;*/
}

.product-list .price {
    text-align: right;
    font-size: 12px;
}

.product-list .price-old {
    text-decoration: line-through;
}

.product-list .price-new {
    font-weight: bold;
}

.product-list .price-tax {
    font-size: 12px;
    font-weight: normal;
}

.product-list .wishlist a {
    text-decoration: none;
}

.product-list .compare a {
    text-decoration: none;
}

.product-grid .name a {
    font-weight: bold;
    text-decoration: none;
}

.product-grid .price {
    font-weight: bold;
}

.product-grid .price-old {
    text-decoration: line-through;
}

.product-grid .price-new {
    font-weight: bold;
}

.product-grid .wishlist a {
    text-decoration: none;
}

.product-grid .compare a {
    text-decoration: none;
}

.product-info .image {
    text-align: center;
    position: relative;
}

.product-info .description {
    line-height: 20px;
}
.product-info .description H1{
    font-family: cambria;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: bold;
}

.product-info .description span {
    /*color: #38B0E3;*/
}

.product-info .description a {
    text-decoration: none;
}

.product-info .price {
    font-family: Cambria;
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
}

.product-info .price-old {
    text-decoration: line-through;
}

.product-info .price-tax {
    font-size: 12px;
    font-weight: normal;
}

.product-info .price .reward {
    font-size: 12px;
    font-weight: normal;
}
.short__story{
    color: #8D8D8D;
    font-family: Calibri;
    font-size: 15px;
    margin: 0 0 30px;
}
#webme_additional{
    margin:10px 0 0 0
}
.w_additional_fields_list{
    color: #b0b0b0;
    font-family:Cambria;
    font-size:14px !important;
    line-height: 15px;
    padding: 0 0 5px 0;
}
.product-info .price .discount {
    font-weight: normal;
    font-size: 12px;
}

.product-info .options {
    /*color: #000000;*/
}

.product-info .cart {
    /*color: #4D4D4D;*/
}

.product-info .cart div > span {
    /*color: #999;*/
}

.product-info .cart .minimum {
    font-size: 11px;
}

.product-info .review {
    /*color: #4D4D4D;*/
}

.product-info .review > div {
    line-height: 20px;
}

.product-info .review > div > span {
    /*color: #38B0E3;*/
}

.product-info .review .share {
    line-height: normal;
}

.product-info .review .share a {
    text-decoration: none;
}

/** / Typography **/

/********* / PRODUCT *********/

										/********** COMPARE & WISHLIST **********/

/*** Layout ***/

.attribute {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

.attribute tr td:first-child {
    width: 20%;
}

.attribute td {
    padding: 7px;
}

.compare-info {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

.compare-info td {
    padding: 7px;
    width: 20%;
    vertical-align: top;
}

.wishlist-product table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.wishlist-product td {
    padding: 7px;
}

.wishlist-product tbody td {
    vertical-align: top;
}

.wishlist-product tbody .remove {
    vertical-align: middle;
}

/** / Layout **/

/*** Skin ***/

.attribute {
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
}

.attribute thead td,
.attribute thead tr td:first-child {
    background: #F7F7F7;
}

.attribute td {
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

.compare-info {
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
}

.compare-info thead td,
.compare-info thead tr td:first-child {
    background: #F7F7F7;
}

.compare-info td {
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

.wishlist-product table {
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
}

.wishlist-product thead td {
    background-color: #F7F7F7;
    border-bottom: 1px solid #DDDDDD;
}

.wishlist-product tbody td {
    border-bottom: 1px solid #DDDDDD;
}

/** / Skin **/

/*** Typography ***/

.attribute thead td,
.attribute thead tr td:first-child {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}

.attribute tr td:first-child {
    font-weight: bold;
    text-align: right;
}

.attribute td {
    text-align: center;
    vertical-align: top;
}

.compare-info thead td,
.compare-info thead tr td:first-child {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}

.compare-info tr td:first-child {
    font-weight: bold;
    text-align: right;
}

.compare-info td {
    text-align: center;
}

.compare-info .name a {
    font-weight: bold;
}

.compare-info .price-old {
    font-weight: bold;
    text-decoration: line-through;
}

.compare-info .price-new {
    font-weight: bold;
}

.wishlist-product thead td {
    font-weight: bold;
}

.wishlist-product thead .remove,
.wishlist-product thead .image,
.wishlist-product thead .cart {
    text-align: center;
}

.wishlist-product thead .name,
.wishlist-product thead .model,
.wishlist-product thead .stock {
    text-align: left;
}

.wishlist-product thead .quantity,
.wishlist-product thead .price,
.wishlist-product thead .total {
    text-align: right;
}

.wishlist-product tbody .remove,
.wishlist-product tbody .image,
.wishlist-product tbody .cart {
    text-align: center;
}

.wishlist-product tbody .name,
.wishlist-product tbody .model,
.wishlist-product tbody .stock {
    text-align: left;
}

.wishlist-product tbody .quantity,
.wishlist-product tbody .price,
.wishlist-product tbody .total {
    text-align: right;
}

.wishlist-product tbody .price s {
    /*color: #F00;*/
}

/** / Typography **/

/********* / COMPARE & WISHLIST *********/

										/********** ORDER **********/

/*** Layout ***/

.order-list {
    margin-bottom: 10px;
}

.order-list .order-id {
    width: 49%;
    float: left;
    margin-bottom: 2px;
}

.order-list .order-status {
    width: 49%;
    float: right;
    margin-bottom: 2px;
}

.order-list .order-content {
    padding: 10px 0px;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

.order-list .order-content div {
    float: left;
    width: 33.3%;
}

/** / Layout **/

/*** Skin ***/

.order-list .order-content {
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.order-detail {
    background: #EFEFEF;
}

/** / Skin **/

/*** Typography ***/

.order-list .order-status {
    text-align: right;
}

.order-list .order-info {
    text-align: right;
}

.order-detail {
    font-weight: bold;
}

/** / Typography **/

/********* / ORDER *********/

										/********** LOGIN **********/

/*** Layout ***/

.login-content {
    margin-bottom: 20px;
    overflow: auto;
}

.login-content .left {
    float: left;
    width: 48%;
}

.login-content .right {
    float: right;
    width: 48%;
}

.login-content .left .content,
.login-content .right .content {
    min-height: 190px;
}

/** / Layout **/

/********* / LOGIN *********/

										/********** RETURN **********/

/*** Layout ***/

.return-list {
    margin-bottom: 10px;
}

.return-list .return-id {
    width: 49%;
    float: left;
    margin-bottom: 2px;
}

.return-list .return-status {
    width: 49%;
    float: right;
    margin-bottom: 2px;
}

.return-list .return-content {
    padding: 10px 0px;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

.return-list .return-content div {
    float: left;
    width: 33.3%;
}

.return-product {
    overflow: auto;
    margin-bottom: 20px;
}

.return-name {
    float: left;
    width: 33.3%;
}

.return-model {
    float: left;
    width: 33.3%;
}

.return-quantity {
    float: left;
    width: 33.3%;
}

.return-detail {
    overflow: auto;
    margin-bottom: 20px;
}

.return-reason {
    float: left;
    width: 33.3%;
}

.return-opened {
    float: left;
    width: 33.3%;
}

.return-opened textarea {
    width: 98%;
    vertical-align: top;
}

.return-remove {
    float: left;
    width: 33.3%;
    padding-top: 90px;
    vertical-align: middle;
}

.return-additional {
    overflow: auto;
    margin-bottom: 20px;
}

.return-comment {
    float: left;
    width: 49%;
}

.return-captcha {
    float: right;
    width: 49%;
}

/** / Layout **/

/*** Skin ***/

.return-list .return-content {
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

/** / Skin **/

/*** Typography ***/

.return-list .return-status {
    text-align: right;
}

.return-list .return-info {
    text-align: right;
}

.return-remove {
    text-align: center;
}

/** / Typography **/

/********* / RETURN *********/

										/********** CART **********/

/*** Layout ***/

.download-list {
    margin-bottom: 10px;
}

.download-list .download-id {
    width: 49%;
    float: left;
    margin-bottom: 2px;
}

.download-list .download-status {
    width: 49%;
    float: right;
    margin-bottom: 2px;
}

.download-list .download-content {
    padding: 10px 0px;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

.download-list .download-content div {
    float: left;
    width: 33.3%;
}

.cart-info table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.cart-info td {
    padding: 7px;
}

.cart-info tbody td {
    vertical-align: top;
}

.cart-info tbody .remove {
    vertical-align: middle;
}

.cart-module .cart-heading {
    padding: 8px 8px 8px 22px;
    margin-bottom: 15px;
}

.cart-module .cart-content {
    padding: 0px 0px 15px 0px;
    display: none;
    overflow: auto;
}

.cart-total table {
    float: right;
}

.cart-total td {
    padding: 3px;
    text-align: right;
}

/** / Layout **/

/*** Skin ***/

.download-list .download-content {
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.cart-info table {
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
}

.cart-info thead td {
    background-color: #F7F7F7;
    border-bottom: 1px solid #DDDDDD;
}

.cart-info tbody td {
    border-bottom: 1px solid #DDDDDD
}

.cart-module .cart-heading {
    border: 1px solid #DBDEE1;
    background: #F8F8F8 url('../image/arrow-right.png') 10px 50% no-repeat;
    cursor: pointer;
}

.cart-module .active {
    background: #F8F8F8 url('../image/arrow-down.png') 7px 50% no-repeat
}

.cart-total {
    border-top: 1px solid #DDDDDD;
}

/** / Skin **/

/*** Typography ***/

.download-list .download-status {
    text-align: right;
}

.download-list .download-info {
    text-align: right;
}

.cart-info thead td {
    font-weight: bold;
}

.cart-info thead .remove,
.cart-info thead .image {
    text-align: center;
}

.cart-info thead .name,
.cart-info thead .model {
    text-align: left;
}

.cart-info thead .quantity,
.cart-info thead .price,
.cart-info thead .total {
    text-align: right;
}

.cart-info tbody .remove,
.cart-info tbody .image {
    text-align: center;
}

.cart-info tbody .name,
.cart-info tbody .model {
    text-align: left;
}

.cart-info tbody .quantity,
.cart-info tbody .price,
.cart-info tbody .total {
    text-align: right;
}

.cart-info tbody span.stock {
    font-weight: bold;
}

.cart-module .cart-heading {
    font-weight: bold;
    font-size: 13px;
}

.cart-total {
    overflow: auto;
    padding-top: 8px;
    margin-bottom: 15px;
}

/** / Typography **/

/********* / CART *********/

										/********** CHECKOUT **********/

/*** Layout ***/

.checkout-heading {
    padding: 8px;
    margin-bottom: 15px;
}

.checkout-heading a {
    float: right;
    margin-top: 1px;
}

.checkout-content {
    padding: 0px 0px 15px 0px;
    display: none;
    overflow: auto;
}

.checkout-content .left {
    float: left;
    width: 48%;
}

.checkout-content .right {
    float: right;
    width: 48%;
}

.checkout-content .buttons {
    clear: both
}

.checkout-product table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.checkout-product td {
    padding: 7px;
}

.checkout-product tbody td {
    vertical-align: top;
}

/** / Layout **/

/*** Skin ***/

.checkout-heading {
    background: #F8F8F8;
    border: 1px solid #DBDEE1;
}

.checkout-product table {
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
}

.checkout-product thead td {
    background-color: #F7F7F7;
    border-bottom: 1px solid #DDDDDD;
}

.checkout-product tbody td {
    border-bottom: 1px solid #DDDDDD;
}

.checkout-product tfoot td {
    border-bottom: 1px solid #DDDDDD;
}

/** / Skin **/

/*** Typography ***/

.checkout-heading {
    font-weight: bold;
    font-size: 13px;
}

.checkout-heading a {
    font-weight: normal;
    text-decoration: none;
}

.checkout-product thead td {
    font-weight: bold;
}

.checkout-product thead .name,
.checkout-product thead .model {
    text-align: left;
}

.checkout-product thead .quantity,
.checkout-product thead .price,
.checkout-product thead .total {
    text-align: right;
}

.checkout-product tbody .name,
.checkout-product tbody .model {
    text-align: left;
}

.checkout-product tbody .quantity,
.checkout-product tbody .price,
.checkout-product tbody .total {
    text-align: right;
}

.checkout-product tfoot td {
    text-align: right;
}

/** / Typography **/

/********* / CHECKOUT *********/

										/********** FOOTER **********/

/*** Layout ***/

.contact-info {
    overflow: auto;
}

.contact-info .left {
    float: left;
    width: 48%;
}

.contact-info .right {
    float: left;
    width: 48%;
}

.sitemap-info {
    overflow: auto;
    margin-bottom: 40px;
}

.sitemap-info .left {
    float: left;
    width: 48%;
}

.sitemap-info .right {
    float: left;
    width: 48%;
}

#footer {
    clear: both;
    overflow: auto;
    min-height: 100px;
    padding: 20px 0 0;
    font-family: Calibri,Arial,Helvetica;
    font-size: 13px;
    color: #2e5454;
}

#footer .column {
    float: left;
    /*width: 25%;*/
    min-height: 100px;
}

#footer .column ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

#footer .column ul li {
    margin-bottom: 3px;
    display: inline-block;
    margin-right: 30px;
}

#powered {
    margin-top: 5px;
    text-align: right;
    clear: both;
}

/** / Layout **/

/*** Skin ***/
.copyright{
    display: table-cell;
    height: 70px;
    vertical-align: bottom;
}

.contact-ico{
    background: url("../image/main_sprite.png") no-repeat scroll -162px 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 15px;
    margin-right: 10px;
    opacity: 0.35;
    vertical-align: top;
    width: 9px;
}

#footer .telephones{
    margin-right: 0;
    display: inline-block;

}
#footer .right-margin{
    margin-right: 140px;
}

#footer .contacts{
    width:120px;
}


#footer {
    background: #4D8887;
}

/** / Skin **/

/*** Typography ***/

#footer h3 {
    font-size: 14px;
}

#footer .column a {
    text-decoration: none;
    color: #b5c9c9;
    font-size: 13px;
}

#footer .column a:hover {
    text-decoration: underline;
    color: #fff;
}

/** / Typography **/

/********* / FOOTER *********/

										/********** BANNER **********/

/*** Layout ***/

.banner div {
    width: 100%;
}

.banner div img {
    margin-bottom: 20px;
}

/** / Layout **/

/*** Typography ***/

.banner div {
    text-align: center;
}

/** / Typography **/

/********* / BANNER *********/

.nav-btn{
    background: url("../image/main_sprite.png") no-repeat scroll 0 0 transparent;
    height: 31px;
    width: 31px;
    position: absolute;
    display: block;
    top: -31px;
    transition: top .2s ease-in-out;
}

.nav-btn.prev{
    background-position: -161px -20px;
    left: 0;
}

.nav-btn.next{
    background-position: -194px -20px;
    right: 0;
}

.nav-btn.prev:hover{
    background-position: -161px -52px;
}

.nav-btn.next:hover{
    background-position: -194px -52px;
}

.image:hover .nav-btn{
    top: 225px;
}